:root {
    --primary-color: #433bff;
    --primary-color-dark: #2f27ce;
    --secondary-color: #f4f4f4;
    --tertiary-color: #000000;
    --text-color: #333333;
    --text-color-light: #666666;
    --border-color: #222222;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.3rem;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

details summary {
    list-style: none;
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

#search-input {
    height: 48px;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: 2px solid var(--border-color);
    font-size: 1.15rem;
    outline: none;
    flex-grow: 6;
    transition: border-color 0.3s ease;
}

#search-input:focus {
    border-color: var(--primary-color);
}

#search-input::placeholder {
    color: var(--text-color-light);
}

#search-button {
    height: 48px;
    padding: var(--spacing-sm);
    color: var(--secondary-color);
    flex-grow: 1;
    border: none;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    transition: all ease-out 0.2s;
}

#search-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
    transform: translateY(-2px);
}

#main-container {
    display: flex; 
    justify-content: center; 
    width: 100%;
    padding: 0 20px;
    gap: 20px;
    height: 100%;
}

.container { 
    width: 50%;
    padding: var(--spacing-md) var(--spacing-lg);
    text-align: left;
    border-radius: calc(var(--border-radius) * 1.5);
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
}

.container h1 {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 500;
}

.query-detail {
    padding: 0px var(--spacing-sm);
    border-radius: var(--border-radius);
}

.collapsible {
    margin: var(--spacing-sm);
    background-color: #FFFFFF;
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--shadow);
}

.collapsible:hover {
    transform: translateY(-2px);
    border-color: var(--primary-color);
}

.collapsible h2 {
    font-weight: 500;
    font-size: var(--spacing-lg);
    padding-inline: var(--spacing-sm);
    color: var(--text-color);
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}

.collapsible summary {
    font-size: var(--spacing-lg);
    padding: var(--spacing-sm);
    color: var(--text-color);
    user-select: none;
}

.collapsible hr {
    margin-bottom: 0.25rem;
}

@media (max-width: 1024px) {
    #main-container {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}